@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 35% 97%;
    --foreground: 45 29% 15%;
    --card: 54 30% 98%;
    --card-foreground: 45 29% 15%;
    --popover: 54 30% 98%;
    --popover-foreground: 45 29% 15%;
    --primary: 45 29% 15%;
    --primary-foreground: 54 35% 97%;
    --secondary: 50 30% 93%;
    --secondary-foreground: 45 29% 15%;
    --muted: 50 25% 94%;
    --muted-foreground: 45 16% 46%;
    --accent: 50 30% 93%;
    --accent-foreground: 45 29% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 54 35% 97%;
    --border: 52 25% 89%;
    --input: 52 25% 89%;
    --ring: 45 29% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: 
      linear-gradient(
        to bottom right,
        hsl(54, 40%, 97%),
        hsl(54, 35%, 97%),
        hsl(50, 30%, 98%)
      );
    min-height: 100vh;
  }
}