@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 146 20% 88%;
    --foreground: 132 6% 20%;
    --card: 148 22% 92%;
    --card-foreground: 132 6% 20%;
    --popover: 148 22% 92%;
    --popover-foreground: 132 6% 20%;
    --primary: 121 26% 34%;
    --primary-foreground: 150 25% 95%;
    --secondary: 144 18% 82%;
    --secondary-foreground: 132 6% 20%;
    --muted: 142 16% 74%;
    --muted-foreground: 136 10% 44%;
    --accent: 142 16% 74%;
    --accent-foreground: 132 6% 20%;
    --destructive: 0 65% 50%;
    --destructive-foreground: 150 25% 95%;
    --border: 140 14% 65%;
    --input: 148 22% 92%;
    --ring: 121 26% 34%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 115 20% 12%;
    --foreground: 150 25% 95%;
    --card: 117 22% 16%;
    --card-foreground: 150 25% 95%;
    --popover: 117 22% 16%;
    --popover-foreground: 150 25% 95%;
    --primary: 135 40% 75%;
    --primary-foreground: 115 20% 12%;
    --secondary: 119 24% 24%;
    --secondary-foreground: 148 22% 85%;
    --muted: 119 24% 24%;
    --muted-foreground: 138 12% 55%;
    --accent: 119 24% 24%;
    --accent-foreground: 148 22% 85%;
    --destructive: 0 65% 50%;
    --destructive-foreground: 150 25% 95%;
    --border: 119 24% 24%;
    --input: 119 24% 24%;
    --ring: 135 40% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: 
      linear-gradient(
        to bottom right,
        hsl(146, 20%, 88%),
        hsl(148, 22%, 92%),
        hsl(150, 25%, 95%)
      );
    min-height: 100vh;
  }
}

.font-fustat {
  font-family: "Fustat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}